@charset "UTF-8";
::selection { background-color: #FCA733; color: #fff; text-shadow: none; }

/*input*/
input.ipt { height: 33px; width: 200px; background-color: #fff; padding: 0 1em; border: 1px solid #E6E6E6; border-radius: 2px; margin: 0; outline: none; max-width: 100%; box-sizing: border-box; font-size: 15px; color: #333333; font-weight: 300; }

input.ta-r { text-align: right; }

input.ta-c { text-align: center; }

input.w100p { width: 100%; }

input.w260 { width: 260px; }

input.w80 { width: 80px; }

input.w60 { width: 60px; }

input.ipt.bd_hide { border-width: 0; border-bottom: 1px solid #D5D5D5; }

input.mw430 { max-width: 100%; width: 430px; }

input.mw292 { max-width: 100%; width: 292px; }

input.mw275 { max-width: 100%; width: 270px; }

input.date + img { margin-left: 8px; }

textarea.txa { border: 1px solid #E2E7EB; box-sizing: border-box; padding: 3px; margin: 0; outline: none; font-size: 15px; line-height: 1.5; }

textarea.txa.no_bd { border-width: 0; }

textarea.txa.w100p { width: 100%; }

/*input file fake*/
div.fileinputs { position: relative; width: 100%; }

div.fakefile { margin-right: 124px; }

div.fakefile img { position: absolute; right: 0; top: 0; bottom: 0; margin: auto; }

div.fakefile input { width: 100%; }

div.fakefile button { width: 122px; position: absolute; right: 0; top: 0; bottom: 0; background-color: #DFDFDF; color: #848484; font-size: 15px; border: 1px solid #C7C7C7; }

input.file { position: absolute; left: 0; top: 0; bottom: 0; cursor: pointer; width: 100%; text-align: right; -moz-opacity: 0; -ms-filter: alpha(opacity=0); opacity: 0; z-index: 2; }

/*검색 필드*/
.bx_search_t1 { display: table; width: 330px; }

.bx_search_t1 > * { display: table-cell; vertical-align: middle; }

.bx_search_t1 input { height: 33px; box-sizing: border-box; background-color: #fff; border: 1px solid #D5D5D5; margin: 0; padding: 0 0.5em; font-size: 15px; color: #666; }

.bx_search_t1 input.w100p { width: 100%; }

.bx_search_t1 .bx_btn { width: 57px; }

.bx_search_t1 button.btn_submit { color: #fff; background-color: #414141; height: 33px; font-weight: 300; width: 100%; }

.bx_search_t2 { display: table; max-width: 410px; width: 100%; }

.bx_search_t2 > * { display: table-cell; vertical-align: middle; }

.bx_search_t2 input { height: 38px; box-sizing: border-box; background-color: #fff; border: 1px solid #D5D5D5; margin: 0; padding: 0 0.5em; font-size: 15px; color: #666; }

.bx_search_t2 input.w100p { width: 100%; }

.bx_search_t2 .bx_btn { width: 105px; padding-left: 5px; }

.bx_search_t2 button.btn_submit { color: #fff; background-color: #888888; height: 38px; font-weight: 300; width: 100%; font-size: 15px; }

.bx_search_t3 select { vertical-align: middle; }

.bx_search_t3 select + select { margin-left: 10px; }

.bx_search_t3 .bx_input { display: inline-block; vertical-align: middle; margin-left: 10px; }

.bx_search_t3 input[type='text'] { box-sizing: border-box; height: 32px; border: 1px solid #d5d5d5; padding: 0 10px; font-size: 14px; }

.bx_search_t3 button.btn_search { height: 32px; background-color: #414141; color: #fff; font-size: 15px; width: 60px; }

/*로딩 박스*/
.area_loading_circle { position: fixed; top: 0; bottom: 0; left: 0; right: 0; visibility: hidden; opacity: 0; z-index: 100; background-color: rgba(0, 0, 0, 0.5); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000)"; -webkit-transition: visibility .3s ease-in-out, opacity .3s ease-in-out; -moz-transition: visibility .3s ease-in-out, opacity .3s ease-in-out; -o-transition: visibility .3s ease-in-out, opacity .3s ease-in-out; transition: visibility .3s ease-in-out, opacity .3s ease-in-out; }

.area_loading_circle:nth-child(n) { filter: none; }

.area_loading_circle.on { opacity: 1; visibility: visible; }

.area_loading_circle > .in { height: 100%; width: 100%; display: table; }

.area_loading_circle > .in > .in2 { display: table-cell; vertical-align: middle; text-align: center; }

.area_loading_circle .bx_progress { display: inline-block; z-index: 1; border: 10px solid #f3f3f3; border-radius: 50%; border-top: 10px solid #23a8f5; width: 100px; height: 100px; -webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite; }

.area_loading_circle p { margin-top: 20px; color: #fff; font-size: 15px; font-weight: 300; line-height: 22px; -ms-word-break: keep-all; word-break: keep-all; }

@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); } }

@keyframes spin { 0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); } }

/*로그인 팝업*/
.pop_style_login { width: 542px; }

.pop_style_login > .inner { border: 1px solid #0088CF; position: relative; overflow: hidden; }

.pop_style_login > .inner > button.btn_close { position: absolute; top: 17px; right: 17px; z-index: 1; }

.pop_style_login .con_type1 { padding: 20px 30px; }

.pop_style_login .con_type1 h4.tit2 { font-weight: 300; font-size: 15px; line-height: 1.5; margin-bottom: 20px; color: #666; -ms-word-break: keep-all; word-break: keep-all; letter-spacing: -0.25px; }

.pop_style_login header.hd_type1 { text-align: center; margin-bottom: 35px; padding-top: 25px; }

.pop_style_login header.hd_type1 h2 { color: #333333; font-size: 30px; font-weight: 300; }

.pop_style_login .con_type1 p.tip.t2 { display: block; margin-top: 5px; font-size: 14px; color: #fe7e00; font-weight: 300; }

.form_type1 { display: block; }

.form_type1 > ul > li { margin-top: 20px; margin-bottom: 11px; }

.form_type1 > ul > li:first-child { margin-top: 0; }

.form_type1 input.ipt { height: 38px; padding: 0; }

.form_type1 .placeh input.ipt ~ label { padding-left: 0; }

.form_type1 .btns { text-align: center; }

.form_type1 .btns button { margin: 0 0.375em; }

.form_type2 + .form_type2 { margin-top: 50px; }

.form_type2.bot_line { padding-bottom: 30px; border-bottom: 1px solid #999; }

.form_type2 > h3 { margin-bottom: 15px; padding-bottom: 12px; border-bottom: 1px solid #999; }

.form_type2 > ul > li { margin-top: 17px; margin-bottom: 11px; position: relative; }

.form_type2 > ul > li:first-child { margin-top: 0; }

.form_type2 > ul > li > p { margin-bottom: 9px; display: table; width: 100%; }

.form_type2 > ul > li > p > span { color: #333333; font-size: 15px; display: table-cell; white-space: nowrap; padding-right: 7px; vertical-align: middle; }

.form_type2 > ul > li > p > span b { color: #fe7e00; }

.form_type2 > ul > li > p > strong { display: table-cell; vertical-align: middle; }

.form_type2 > ul > li > p > strong:after { content: ''; display: table; clear: both; }

.form_type2 > ul > li > p .status { display: block; float: right; }

.form_type2 > ul > li > p small { margin-left: 10px; color: #999; }

.form_type2 > ul > li .bx_status { position: absolute; bottom: 8px; right: 10px; }

.form_type2 > ul > li .status { padding-left: 20px; font-size: 13px; font-weight: 300; letter-spacing: -0.25px; }

.form_type2 > ul > li.good .status { color: #00cf2c; }

.form_type2 > ul > li.bad .status { color: #dd1013; }

.form_type2 > ul > li input.ipt { height: 37px; border-color: #D7D7D7; -webkit-transition: border-color .3s ease-in-out; -o-transition: border-color .3s ease-in-out; transition: border-color .3s ease-in-out; }

.form_type2 > ul > li.good input.ipt { border-color: #00CF2C; }

.form_type2 > ul > li.bad input.ipt { border-color: #dd1013; }

.form_type2.st2 > ul > li .placeh { display: inline-block; max-width: 100%; width: 275px; }

.form_type2 .input_inc_btn { display: table; width: 100%; }

.form_type2 .input_inc_btn > * { display: table-cell; vertical-align: middle; }

.form_type2 .input_inc_btn > .btn { padding-left: 10px; width: 100px; }

.form_type2 .input_inc_btn > .btn > button { height: 37px; box-sizing: border-box; border: 1px solid #505050; background-color: #666666; color: #fff; width: 100%; }

.form_type2 .input_inc_btn + input { margin-top: 10px; }

.form_type2 .tip { display: block; margin-top: 5px; font-size: 14px; color: #666; }

.form_type2 .tip.t2 { color: #fe7e00; font-weight: 300; }

#bx_login .form_type1 { max-width: 402px; margin: auto; margin-bottom: 30px; }

#bx_login .form_type1 .placeh > input { padding-right: 50px; }

#bx_login .form_type1 .placeh button { position: absolute; right: 0; padding-right: 15px; background: url(../images/member/ico_arr_right.gif) right center no-repeat; color: #009ced; font-size: 13px; font-weight: 300; line-height: 1.2; height: 1.2em; top: 0; bottom: 0; margin: auto; outline: none; }

#bx_login .form_type1 .btns { margin-top: 36px; }

#bx_login .form_type1 .signup { margin-top: 20px; text-align: center; font-size: 13px; color: #797270; }

#bx_login .form_type1 .signup .link { color: #453F3C; text-decoration: underline; }

#bx_multi_content .login_api { border-top: 1px solid #CBCBCB; position: relative; background-color: #f8f8f8; padding: 0 15px 10px; }

#bx_multi_content .login_api .or { position: absolute; width: 41px; height: 41px; border: 1px solid #CBCBCB; left: 0; right: 0; top: -21px; background-color: #fff; line-height: 41px; text-align: center; color: #adadad; font-size: 20px; margin: auto; border-radius: 50%; }

#bx_multi_content .login_api .list { margin: 50px auto 40px; max-width: 402px; }

#bx_multi_content .login_api .list > ul { margin-left: -5px; }

#bx_multi_content .login_api .list > ul:after { content: ''; display: table; clear: both; }

#bx_multi_content .login_api .list > ul > li { width: 50%; float: left; }

#bx_multi_content .login_api .list > ul > li > a { display: table; margin: 10px 0px 10px 5px; font-size: 15px; }

#bx_multi_content .login_api .list > ul > li > a:hover { text-decoration: underline; }

#bx_multi_content .login_api .list > ul > li > a img { padding-right: 8px; display: table-cell; vertical-align: middle; }

#bx_multi_content .login_api .list > ul > li > a span { display: table-cell; vertical-align: middle; }

#bx_multi_content .login_api .caution > li { position: relative; padding-left: 0.75em; color: #656565; font-size: 15px; letter-spacing: -0.25px; margin-bottom: 5px; }

#bx_multi_content .login_api .caution > li:after { position: absolute; content: '-'; top: 0; left: 0; }

.login_api .c_nv { color: #1eac05; }

.login_api .c_fb { color: #2e4e92; }

.login_api .c_dm { color: #3c78fc; }

.login_api .c_gg { color: #cd1d1d; }

#bx_multi_content { height: 100%; position: relative; overflow: hidden; width: 540px; background-color: #fff; z-index: 2; max-width: 100%; }

#bx_multi_content > button.btn_close { position: absolute; top: 17px; right: 17px; z-index: 1; width: 19px; height: 19px; overflow: hidden; text-indent: -9999px; }

#bx_multi_content > button.btn_close:before { position: absolute; top: 0; bottom: 0; right: -7px; left: -7px; height: 1px; margin: auto; background-color: #666; content: ''; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.67, 0.04, 0.32, 1), background-color 0.3s ease-in-out; -moz-transition: -moz-transform 0.3s cubic-bezier(0.67, 0.04, 0.32, 1), background-color 0.3s ease-in-out; -ms-transform: -ms-transform 0.3s cubic-bezier(0.67, 0.04, 0.32, 1), background-color 0.3s ease-in-out; -o-transition: -o-transform 0.3s cubic-bezier(0.67, 0.04, 0.32, 1), background-color 0.3s ease-in-out; transition: transform 0.3s cubic-bezier(0.67, 0.04, 0.32, 1), background-color 0.3s ease-in-out; }

#bx_multi_content > button.btn_close:after { position: absolute; top: 0; bottom: 0; right: -7px; left: -7px; height: 1px; margin: auto; background-color: #666; content: ''; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.67, 0.04, 0.32, 1), background-color 0.3s ease-in-out; -moz-transition: -moz-transform 0.3s cubic-bezier(0.67, 0.04, 0.32, 1), background-color 0.3s ease-in-out; -ms-transform: -ms-transform 0.3s cubic-bezier(0.67, 0.04, 0.32, 1), background-color 0.3s ease-in-out; -o-transition: -o-transform 0.3s cubic-bezier(0.67, 0.04, 0.32, 1), background-color 0.3s ease-in-out; transition: transform 0.3s cubic-bezier(0.67, 0.04, 0.32, 1), background-color 0.3s ease-in-out; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }

#bx_multi_content > button.btn_close:hover:before { background-color: #000; -webkit-transform: rotate(135deg); -ms-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg); }

#bx_multi_content > button.btn_close:hover:after { background-color: #000; -webkit-transform: rotate(135deg); -ms-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg); background-color: #000; -webkit-transform: rotate(-135deg); -ms-transform: rotate(-135deg); -o-transform: rotate(-135deg); transform: rotate(-135deg); }

#bx_multi_content > .content { position: absolute; top: 0; left: 0; width: 100%; }

#bx_multi_content > .content.on { position: relative; }

#bx_multi_content .bot_btns { padding-bottom: 40px; }

/*회원가입*/
.signup_step { padding-bottom: 23px; margin-bottom: 30px; }

.signup_step > ul { text-align: center; position: relative; }

.signup_step > ul:after { content: ''; position: absolute; height: 2px; left: 0; right: 0; top: 0; bottom: 0; margin: auto; background-color: #E8E8E8; }

.signup_step > ul > li { display: inline-block; position: relative; z-index: 1; }

.signup_step > ul > li > div { display: block; width: 51px; height: 51px; border-radius: 50%; background-color: #d1d1d1; position: relative; text-align: center; margin: 0 20px; }

.signup_step > ul > li > div:after { content: ''; display: inline-block; height: 100%; vertical-align: middle; }

.signup_step > ul > li > div img { vertical-align: middle; }

.signup_step > ul > li span { display: block; color: #c9c9c9; margin-top: 7px; font-size: 13px; position: absolute; top: 100%; left: 0; right: 0; }

.signup_step > ul > li.on > div { background-color: #0088cf; }

.signup_step > ul > li.on span { color: #0088cf; }

.area_terms .bx_term { margin-bottom: 25px; }

.area_terms .bx_term > h3 { margin-bottom: 5px; }

.area_terms .bx_term > h3.lst_check3 > label > span { font-weight: 400; color: #333; }

.area_terms .detail { max-height: 80px; border: 1px solid #E5E5E5; overflow: hidden; overflow-y: auto; }

.area_terms .detail > .in { padding: 15px; font-size: 13px; color: #777777; line-height: 1.375; font-weight: 300; }

.area_terms .detail > .in p { margin-bottom: 0.5em; }

.area_terms .agree_all { position: relative; margin-bottom: 30px; }

.area_terms .agree_all button { position: absolute; height: 31px; box-sizing: border-box; border: 1px solid #767676; background-color: #8C8C8C; color: #fff; font-size: 13px; padding: 0 0.875em; right: 0; top: 0; border-radius: 5px; }

.opt_certification { border-top: 1px solid #D9D9D9; border-bottom: 1px solid #D9D9D9; padding: 25px 30px; background: url(../images/member/bg_line_repeat.gif) 0 0; }

.opt_certification > dl { display: table; width: 100%; }

.opt_certification > dl > dt { display: table-cell; vertical-align: middle; }

.opt_certification > dl > dd { display: table-cell; text-align: right; vertical-align: middle; }

.opt_certification_t2 > dl > dt { color: #31617a; font-size: 15px; margin-bottom: 10px; }

.bx_minor_term { text-align: center; }

.bx_minor_term img { display: block; margin: auto; margin-bottom: 10px; }

.bx_minor_term p { color: #333333; font-size: 20px; line-height: 28px; margin-bottom: 30px; -ms-word-break: keep-all; word-break: keep-all; }

.pop_style_login.show_right_sec { width: 923px; }

aside#bx_member_aside { position: absolute; top: 0; bottom: 0; right: 0; height: 100%; /*background: url(../images/member/bg_line_repeat2.gif) 0 0;*/ width: 380px; max-width: 100%; }

aside#bx_member_aside > .in { padding: 30px; height: 100%; overflow: hidden; overflow-y: auto; box-sizing: border-box; background-color: #EDF7FD; -webkit-transition: left 0.5s cubic-bezier(0.67, 0.04, 0.32, 1); -o-transition: left 0.5s cubic-bezier(0.67, 0.04, 0.32, 1); transition: left 0.5s cubic-bezier(0.67, 0.04, 0.32, 1); }

aside#bx_member_aside > .in:before { position: absolute; left: 0; top: 0; bottom: 0; border-left: 1px solid #0088CF; content: ''; }

aside#bx_member_aside > .in:after { position: absolute; top: 50px; left: 0px; width: 14px; height: 30px; background: url(../images/member/arr_more.png) 0 0 no-repeat; content: ''; }

aside#bx_member_aside > .in.inc_abs_foot_btn { padding-bottom: 90px; }

aside#bx_member_aside header.hd_type2 { padding-bottom: 22px; border-bottom: 1px solid #95ADB9; position: relative; margin-bottom: 25px; }

aside#bx_member_aside header.hd_type2:after { position: absolute; left: 0; right: 0; bottom: -2px; background-color: #fff; content: ''; height: 1px; }

aside#bx_member_aside header.hd_type2 > h2 { color: #0088cf; font-size: 22px; font-weight: 700; }

aside#bx_member_aside header.hd_type2 > p { color: #214f68; font-size: 15px; line-height: 22px; margin-top: 0.5em; }

aside#bx_member_aside > .in footer.btns { padding-top: 30px; }

aside#bx_member_aside > .in footer.btns.tac { text-align: center; }

aside#bx_member_aside > .in.inc_abs_foot_btn footer.btns { position: absolute; left: 0; right: 0; bottom: 0; padding: 10px 30px 40px; }

aside#bx_member_aside > .in > section > h3 { color: #214f68; font-size: 15px; margin-bottom: 10px; font-weight: 400; }

aside#bx_member_aside .bx_your_id { text-align: center; font-size: 20px; color: #333333; line-height: 1.5; margin: 60px 0; font-weight: 300; }

aside#bx_member_aside .bx_your_id strong { color: #03a9ff; text-decoration: underline; font-weight: 400; }
